@charset "UTF-8";

#mod_youtubeBg {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    max-width: 2000px;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0;
}

#mod_youtubeBg_player {
    position: fixed; 
    left:0; 
    top:0; 
    opacity: 0; 
}

#mod_youtubeBg-controls {display: none; position: absolute; top:-65px; right:10px;}

#mod_youtubeBg-controls .control {
    display: block;
    float: left;
    height:20px; 
    width:20px;  
    background-size: 20px;
}

#mod_youtubeBg-controls .arrow {  
    background-repeat: no-repeat;
    background-position: center center;
}
#mod_youtubeBg-controls .arrow.prev {
    background-image: url(../images/arr-left.png);
}
#mod_youtubeBg-controls .arrow.next {
    background-image: url(../images/arr-right.png);
}

#mod_youtubeBg-controls .play {
    background-image: url(../images/play.png);
}

#mod_youtubeBg-controls .pause {
    background-image: url(../images/pause.png);
}